* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: #39a6b2;
}


header h1 {
    color: #fec138;
    font-weight: bold;
    font-size: 36px;
    margin: 20px;
    display: inline;
}

header a {
    color: #fce138; 
}

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}

body{
    color: #39a6b2;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    background: #fce138;
    width: 100%;
    padding: 40px 35px;
}

footer h2 {
    display: inline;
    color: #024e02;
    font-size: 30px;
    margin: 0;
}

footer div{
    float:right;
    line-height: 1.5;
    text-align: right;
}

button {
    background-color: red;
    color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 10px;
    padding: 2%;
}

section {
    padding: 60px;
  }

section h3 {
    font-style: italic;
    text-decoration: underline;
    text-align: center;
}

.hero {
    background-image: url("../run-buddy/Hero-Picture.jpg");
    height:600px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero form {
    position: absolute;
    background-color: #fce138;
    padding: 20px;
    width: 500px;
    color: #024e76;
    border: 3px solid #024276;
    bottom: 120px;
    right: 140px;
}